* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    font-size: 18px;
    line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: black;
    font-weight: 600;
    margin-bottom: 16px;
    line-height: 1.3;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 15px;
}

h6 {
    font-size: 13px;
    font-weight: 400;
}

.app-container {
    display: flex;
    height: 100vh;
}

.main-content {
    flex: 1;
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
}

.main-content h2 {
    margin-bottom: 20px
}

.main-content p {
    color: #666;
}