.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
}

.input-group input,
.input-group textarea {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.input-group textarea {
    height: 100px;
    resize: vertical;
}

.invalid label {
    color: red;
}

.invalid input {
    border-color: red;
}

.invalid span {
    color: red;
}