.main-content {
    flex: 1;
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    padding-top: 10rem;
}

.main-content h2 {
    margin-bottom: 20px
}

.main-content p {
    color: #666;
}