.project-details {
    padding: 5rem 15rem;
    margin-top: 3rem;
    background-color: #f9f9f9;
    width: 75vw;
    height: 85vh;
    overflow-y: auto;
}

.details-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 250px;
}

.details-header h1 {
    margin-bottom: 0;
}

.details-header button {
    background: none;
    border: none;
    font-size: 1rem;
    color: #a7a3a3;
    padding: 0.5rem 1rem;
    border-radius: 5px;
}

.details-header button:hover {
    color: #7b7878;
}

.details-content {
    margin-bottom: 3rem;
}

.details-content .due-date {
    font-size: 1rem;
    padding-bottom: 2rem;
    color: #a7a3a3;
}